
:root {
  color-scheme: dark;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
    "Apple Color Emoji", "Segoe UI Emoji";
  background: radial-gradient(1200px 600px at 30% -10%, #1f2937, #0b1020);
  color: #f1f5f9;
}

* {
  box-sizing: border-box;
}

